<div class="search-filter-controls">
  <mat-form-field class="example-full-width">
    <input matInput name="searchQuery"
           #searchQuery
           placeholder="Type something like 'Jupiter', 'Venus', 'NGC', etc."
           [value]="initValue"
           (input)="onQueryInput(searchQuery.value)">
  </mat-form-field>
  <mat-form-field class="year-field">
    <input matInput value="" name="yearFrom" #yearFrom
           type="number"
           placeholder="Year from"
           [max]="yearTo.value"
           [min]="1950"
           (input)="onSetYearFrom(yearFrom.value, yearFrom.checkValidity())">
  </mat-form-field>
  <mat-form-field class="year-field">
    <input matInput value="" name="yearTo" #yearTo
           type="number"
           placeholder="Year to"
           [max]="2018"
           [min]="yearFrom.value"
           (input)="onSetYearTo(yearTo.value, yearTo.checkValidity())">
  </mat-form-field>
  <span>Loaded {{images.length}} of {{allItemsCount}} images.</span>
</div>
<mat-divider></mat-divider>
<div class="results-list scroll" (scroll)="onScroll($event, nextPage)">
  <mat-grid-list cols="4" rowHeight="700px">
    <mat-grid-tile
      *ngFor="let item of images"
      [colspan]="1"
      [rowspan]="1">
      <nasa-image-card class="nasa-image-card" [imageItem]="item"></nasa-image-card>
    </mat-grid-tile>
  </mat-grid-list>
</div>
