.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}
.year-field{
  width: 100px;
}
.search-filter-controls{

}
.results-list{
  position: absolute;
  top: 120px;
  bottom: 0;
  width: calc(100% - 10px);
  overflow-y: auto;
  overflow-x: hidden;
  margin-top: 30px;
}
