<mat-card class="example-card" *ngIf="imageItem.links">
  <mat-card-header class="example-card-header">
    <mat-card-title>{{imageItem.data[0].title}}</mat-card-title>
  </mat-card-header>
  <img class="example-card-image" mat-card-image [src]="imageItem.links[0]?.href" alt="Image not found">
  <mat-card-content>
    <p class="image-description" [innerHTML]="imageItem.data[0].description">
    </p>
  </mat-card-content>
<!--  <mat-card-actions>
    <button mat-button>LIKE</button>
    <button mat-button>SHARE</button>
  </mat-card-actions>-->
</mat-card>
